@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .underline-custom {
      @apply bg-red-400 h-[3px] border-r-2 scale-x-0  transform-gpu transition-all ease-in-out duration-300 group-hover/underline:scale-x-100;
    }
  }
  